html, body {
  margin: 0;
  padding: 0;
  background: var(--darkgray, #4C4D55);
  
}


.selectItem{
  position: absolute;
  width: 353px;
  bottom: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 28px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  color: var(--almostblack, #1F1F1F);
  transition: height 0.3s ease, box-shadow 0.3s ease;
}

.selectItem:hover{
  transition-delay: 0.3s;
}

.selectItem>h3{
  font-family: "SUIT Variable";
  font-size: 36px;
  font-style: normal;
  font-weight: 644;
  line-height: normal;
  letter-spacing: -1.08px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 28px;

}

.selectItem>object{
  position: absolute;
  left: 260px;
  visibility: hidden;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

svg{
  background-color: transparent;
  border: none;
}

#mainContents{
  width: 393px;
  height: 900px;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 500px;
}
#selectMenu{
  width: inherit;
  height: 800px;
  position: absolute;
  top: -35px;
  left: 20px;
}

.roundbox{
  margin-top: 50px;
  z-index: -10;
  display: inline-block;
  position: relative;
  top: 20px;
  width: 194px;
  height: 104px;
  flex-shrink: 0;
  border-radius: 30px 30px 0px 0px;
  background: var(--black, #000);
}
.backbox{
  z-index: -5;
  width: 393px;
  height: 610px;
  position: relative;
  top: 15px;
  flex-shrink: 0;
  border-radius: 0px 0px 30px 30px;
  background: var(--black, #000);
  margin-bottom: 300px;
}

.upleft{
  position: absolute;
  left: 46px;
  top:10px;
  width: 300px;
}
.upleft>h3{
  color: var(--white, #FFF);
  font-family: "SUIT Variable";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.upmain {
  width: 393px;
  position: relative;
  background-color: #E5E6E7;
  z-index: 10;
  top: 62px;
}
.upright{
  color: var(--gray, #E5E6E7);
  font-family: "SUIT Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  position: absolute;
right: 35px;
top: 20px;
width: 130px;
}